.lecturers {
	display: flex;
	justify-content: space-around;
	padding: 40px 0px;
}

@supports not (-ms-ime-align: auto) {
  .lecturers {
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 600px) {
	.content__container {
		width: 85%;
		margin: 0 auto;
  }

  .lecturers {
		flex-direction: column;
		align-items: center;
	}
}
